.divAllPosts {
    width: 500px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    margin:10px;
}

.divPost {
    background-color: #e6e5f9;  
    margin-bottom:10px;
}

.divPostReply {
    background-color: #f2f2f7;
}

.divComment {
    background-color: #f2f2f7;
    color: black;
}

.divLoginBar {
    text-align: right;
    color: blue;
}

.divContainer {
    margin: 10px;
}

body {
    background-color: ghostwhite;
}
